<%- include('partials/head') %>

<body>
  <div class='container'>
    <br>
    <br>
    <h1>
      Northcoders News
    </h1>
    <br>
    <br>
    <a href="/api">API Links</a>
  </div>
  </div>
  </div>
</body>

</html>